<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>

    <h1>Movie list</h1>

    {% comment %} search-box {% endcomment %}
    <div class="col-6 align-left">
        <label for="user-input"></label>
        <input id="user-input" placeholder="Type movie title">
    </div>

    {% comment %} search result section {% endcomment %}
    <div id="replaceable-content" class="col-6"></div>

    {% for movie in page_obj %}
        <h4><a href={{ movie.slug }}>{{ movie.name }}</a></h4>
        <p>Thumbnail: {{ movie.thumbnail }}</p>
        <p>{{ movie.duration }} mins</p>
        <p>User rating: {{ movie.user_rating }}</p>
    {% empty %}
        <p>No content.</p>
    {% endfor %}

    {% include "pagination.html" %}
    <script>{% include "ajax_search.js" %}</script>

</body>
</html>